/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("bg.jpg");
}
header {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-top: solid #ff8523 10px;
  border-bottom: solid #ff8523 25px;
}
section {
  background-color: white;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 1px;
  padding: 5%;
}
#site_header {
  background-color: #ff8523;
}

#first_button, #second_button, #third_button {
  border: solid white 1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}

h2 {
  color: #1fabe5;
  margin-top: 0px;
}

h3 {
  color: #1fabe5;
}

ul {
  font-weight:bold;
}

table {
  border: solid 1px #1fabe5;
  border-collapse: collapse;
}

thead {
  background-color: #1fabe5;
  color: white;
  padding: 2x;
}
td {
  border: solid 1px #1fabe5;
}

p[href="#"] {
  color: #1fabe5;
}

form {
  background-color: #eeeeee;
  border-radius: 15 px;
}

.name {
  background-color: #ff8523;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 80%;
  padding-top: 20px;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

textarea {
  border: solid 1px #1fabe5;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#submit_button {
  font-weight: bold;
  color: white;
  background-color: #1fabe5;
  border-radius: 3px;
  border: 0;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
